<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://upfile.vn/download/member/zwWmK5Bm_rBC/OsXt6CBCAVj8/gi8jfpNo1Z_Y/gi8jfpNos_7K/242ad0ab7c3903044/1571805857/1631844135ef333176f03088f3d0e9350bebc2d748dc35cf5/VideoShow%204.5.2%20%28full%20crack%29.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>ipa.osdev.vip</string>
				<key>bundle-version</key>
				<string>4.9.2</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>VideoShow PRO 4.9.2</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
